body { 
    background-image: url('Marvel.jpg');
    background-colour: ed1d24;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.red { 
    background-color:  !important;
}