<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
        integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

    <title>Marvel DB</title>
</head>


<body background=" {{ url_for('static', filename='css/img/background.jpg') }}">

    <div id="wrapperHeader">
        <div id="header">
             <img src="{{ url_for('static', filename='Marvel1.jpg') }}" class="center responsive-image" >
        </div> 
    </div>

    <h3 class="center white-text text-lighten-2">Pick a side</h3>
<div class="center">
    <div class="center-align">
        <a class="waves-effect waves-light btn-large #d50000 red accent-4" style="margin-bottom: 25px;" onclick="window.location.href='{{ url_for( 'heroes') }}';">Heroes</a>
        <a class="waves-effect waves-light btn-large #d50000 red accent-4" style="margin-bottom: 25px;" onclick="window.location.href='{{ url_for( 'villains') }}';">Villains</a>
    </div>
</div>
    <h3 class="center white-text text-lighten-2"> Search for Your favourite Heroes or Villains</h3>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

   <div class="center">
      <form method="post">
        <div class="input-field grey lighten-2">
          <input id="search" name="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons red-text">close</i>
        </div>
      </form>
    </div>
    
    </body>
</html>

