<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <div id="wrapperHeader">
        <div id="header">
             <img src="{{ url_for('static', filename='Marvel1.jpg') }}" class="center">
        </div> 
    </div>

       <nav class="#d50000 red accent-4">
        <div class="nav-wrapper">
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for( 'index') }}">Home</a></li>
                <li><a class="active" href="{{ url_for( 'heroes') }}">Heroes</a></li>
                <li><a href="{{ url_for( 'villains') }}">Villians</a></li>
                <li><a href="{{ url_for( 'register') }}">Sign-Up</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>